# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Project specific
assets/models/*.pt
assets/models/*.onnx
assets/models/*.engine
yolov8n-pose.pt
logs/
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Distribution / Packaging
dist/
build/
*.egg-info/
MANIFEST

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
